<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cửa hàng</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/sanpham.css">
    <link rel="stylesheet" href="css/bocuc.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<body>
<!-- Than -->
<div class="than">
    <!-- Thanh tren -->
    <div class="tieu-de">
        <div class="bieu-tuong">
            <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/4163/4163765.png" alt="thuc pham"></a>
            <!-- Menu ds các loại mặt hàng -->
            <div class="danhmuc">
                <button class="danhmuc-nut" onclick="hienThiDanhMuc()">Danh mục
                </button>
                <div class="danhmuc-noidung" id="danhmuc-nd">
                    <a href="#">Nước uống</a>
                    <a href="#">Rau củ</a>
                    <a href="#">Thịt và cá</a>
                    <a href="#">Trứng và sữa</a>
                    <a href="#">Bánh</a>
                    <a href="#">Gia vị</a>
                </div>
            </div>
        </div>
        <div class="tim-kiem">
            <form>
                <div>
                    <input placeholder="Tìm kiếm sản phẩm bạn muốn tại đây" value=""/>
                </div>
            </form>
        </div>
        <ul class="dieu-huong">
            <li>
                <a class="" href="/donhang">Đơn hàng</a>
            </li>
            <li>
                <a class="" href="/lienhe">Liên hệ</a>
            </li>
            <div class="dieu-huong-phai">
                <div class="bieu_tuong_gio_hang">
                    <a href="/giohang">
                        <img class="dieuhuong"
                             src="https://thumbs.dreamstime.com/b/shopping-cart-icon-trolley-icon-shopping-cart-icon-trolley-icon-vector-illustration-isolated-white-background-163727286.jpg"
                             alt="">
                        <div class='giohang-soluong' th:text="${cardCount}"></div>
                    </a>
                </div>
                <div class="nut-dang-nhap">
                    <a href="/dangnhap">
                        <button>
                            <img class="dieuhuong"
                                 src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
                                 alt="">
                            <span th:text="${username}"></span>
                        </button>
                    </a>
                </div>
            </div>
        </ul>
    </div>

    <div class="noi_dung ">
        <div id="ds-san-pham" class="danh_sach_san_pham">

        </div>
    </div>
</div>
</div>
<script src="js/sanpham.js"></script>
<script src="js/script.js"></script>
</body>

</html>